[submodule "third_party/sglang"]
	path = third_party/sglang
	url = https://github.com/winstonxcai/sglang.git
	branch = remnant/v0.5.18
[submodule "third_party/flashmla"]
	path = third_party/flashmla
	url = https://github.com/winstonxcai/FlashMLA.git
	branch = remnant/flashmla-v0518
